altair==5.2.0
anyio 
appnope 
argon2-cffi 
argon2-cffi-bindings 
asttokens 
async-lru 
attrs 
Babel 
beautifulsoup4 
bleach 
blinker==1.7.0
Bottleneck 
Brotli 
cachetools==5.3.3
certifi 
cffi 
charset-normalizer 
click==8.1.7
comm 
contourpy 
cycler 
debugpy 
decorator 
defusedxml 
executing 
fastjsonschema 
fonttools==4.25.0
gitdb==4.0.11
GitPython==3.1.42
idna 
ipykernel 
ipython 
ipywidgets 
jedi 
Jinja2 
joblib 
json5 
jsonschema 
jsonschema-specifications 
jupyter 
jupyter-console 
jupyter-events 
jupyter-lsp 
jupyter_client 
jupyter_core 
jupyter_server 
jupyter_server_terminals 
jupyterlab 
jupyterlab-pygments 
jupyterlab-widgets 
jupyterlab_server 
kiwisolver 
markdown-it-py==3.0.0
MarkupSafe 
matplotlib 
matplotlib-inline 
mdurl==0.1.2
mistune 
munkres==1.1.4
nbclient 
nbconvert 
nbformat 
nest-asyncio 
notebook 
notebook_shim 
numexpr 
numpy 
overrides 
packaging 
pandas 
pandocfilters 
parso 
pexpect 
pillow 
platformdirs 
ply 
prometheus-client 
prompt-toolkit 
protobuf==4.25.3
psutil 
ptyprocess 
pure-eval 
pyarrow==15.0.2
pycparser 
pydeck==0.8.1b0
Pygments 
pyngrok==7.1.5
pyparsing 
PyQt5==5.15.10
PyQt5-sip 
PySocks 
python-dateutil 
python-json-logger 
pytz 
PyYAML 
pyzmq 
qtconsole 
QtPy 
referencing 
requests 
rfc3339-validator 
rfc3986-validator 
rich==13.7.1
rpds-py 
scikit-learn 
scipy 
seaborn 
Send2Trash 
setuptools==68.2.2
sip 
six 
smmap==5.0.1
sniffio 
soupsieve 
stack-data 
streamlit==1.32.2
streamlit-ace==0.1.1
tenacity==8.2.3
terminado 
threadpoolctl 
tinycss2 
toml==0.10.2
toolz==0.12.1
tornado 
traitlets 
typing_extensions 
tzdata 
urllib3 
wcwidth 
webencodings 
websocket-client 
wheel==0.41.2
widgetsnbextension 
